@media screen and (max-width: 576px) {
    section{
        padding: 1rem;
    }
    .header-content h1{
        font-size: 4rem;}
    .btn-1, .btn-2{
        color: white;
        font-size: 1rem; 
        font-weight: 500;
        padding: 1rem 1.5rem;
        margin-right: .3rem auto;
        
    }
    .header-contenar{
        flex-direction: column;
        align-items: center;
    }
    .header-content{
       width: 100%; 
    }
    .header-content button{
        text-align: center;
    }
    .bmi-calculator-cart-ls{
        width: 100%;
    }
    .bmi-calculator-cart-rs{
        width: 100%;
        
    }
    
    .bmi-hidding{
        margin-left: 1rem;
    }
    .tag-1{
        height: 4.5rem;
        width: 7rem;
        margin-top: -30rem;
        margin-left: 12rem;
    }
    .tag-2{
        height: 5rem;
        width: 9rem;  
    }
    .tag-2 i{
        font-size: 30px;
    }
    .tag-1 h1, .tag-2 h1{
        font-size: 1.5rem;
        font-weight: 700; 
    }
    .tag-1 p, .tag-2 p{
        font-size: .5rem;
    }
    .tag-2{
        margin-top: -19rem;
        margin-left: .5rem;
    }
    .img-contenar{
        flex-direction: column;
        width: 15rem;
        margin: 0 auto;
        gap: 2rem;
    }
    .change-your-habits-hadeing h1{
        font-size: 2rem;
    }
    .run-an-extra{
        flex-direction: column;
        padding: 1rem;
    }
    .img-run{
        margin: 0px;
        width: 100%;
        height: 100%;
        margin-top: 1rem;
    }
    .run-an-extra-content{
        margin: 0;
        align-items: center;
    }
    .run-an-extra-content h1{
        font-size: 2rem;
    }   
    .run-an-extra-content button{
        margin-top: 2rem;
    }
    .bmi-calculator-cart-rs{
        margin-top: 2rem;
    }
    .bmi-hidding h1{
        font-size: 2rem;
        font-weight: 900;
    }
    .Calculate{
        gap: 2rem;
        grid-template-columns: repeat(2, 1fr);
    }
    .bmi-calculator-cart-rs input, select{
        width: 100%;
    }
    .bmi-calculator-cart{
        flex-direction: column;
    }
    .nav-icons{
        display: none;
    }
    .ham-bar{
        display: block;
        font-size: 3rem;
    }
    .img-chaild{
        grid-template-columns: repeat(1, 1fr);
        padding: 1rem;
    }
    .t-name{
        margin-top: 170px;
    }
    .trainer{
        margin-top: 200px;
    }
    .trainer-1, .trainer-2, .trainer-3, .trainer-4, .trainer-5, .trainer-6{
        width: 270px;
        height: 225px;
    }
    .footer-contenar{
        flex-direction: column;
        gap: 3rem;
    }
    .footer-content{
        width: 100%;
    }
    .bmi-calculator-cart-rs input{
        padding: 0%;
    }
    .content-get-started{
        flex-direction: column;
        width: 100%;
        gap: 3rem;
    }
    .content-get-started a{
        margin-top: 1rem;
    }
    .row{
        flex-direction: column;
        height: auto;
    }
    .square-collage{
        grid-template-columns: 1fr;
    }
    .photo-gallery h1{
        font-size: 100px;
    }
}