@media screen and (max-width: 576px) {
    section{
        padding: 1rem;
    }
    .header-content h1{
        font-size: 4rem;}
    .btn-1, .btn-2{
        color: white;
        font-size: 1rem; 
        font-weight: 500;
    }
    .header-contenar{
        flex-direction: column;
        align-items: start;
    }
    .tag-1{
        height: 5rem;
        width: 10.5rem;
        margin-top: -32rem;
        margin-left: 12rem;
    }
    .tag-2{
        margin-top: -19rem;
        margin-left: .5rem;
    }
    .img-contenar{
        flex-direction: column;
        width: 15rem;
        margin: 0 auto;
        gap: 2rem;
    }
    .change-your-habits-hadeing h1{
        font-size: 2rem;
    }
    .run-an-extra{
        flex-direction: column;
    }
    .bmi-calculator-cart{
        flex-direction: column;
    }
    .nav-icons{
        display: none;
    }
    .ham-bar{
        display: block;
        font-size: 3rem;
    }
    .img-chaild{
        grid-template-columns: repeat(1, 1fr);
    }
    .footer-contenar{
        flex-direction: column;
    }
    .content-get-started{
        flex-direction: column;
    }
}