@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
   margin: 0; 
   padding: 0;
}
body{
    width: 100%;
    font-family: "Inter", sans-serif;
    color: white;
    background-color:rgb(0, 0, 0);
}
/* start style of header */
header{
    padding-top: 3rem;
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
}
footer{
    background-color: rgba(255, 255, 255, 0.1);
    padding-bottom: .2rem;
}
section{
    max-width: 1060px;
    margin: 0 auto;
    margin-bottom: 100px;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    
    
}
.company-name{
   font-size: 2rem;
   font-weight: 800;
   color: rgb(230, 83, 60);
   font-style: italic;

}
.nav-icons{
    display: flex;
    gap: 3rem;
    font-size: 1.5rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 2.5rem;
    align-items: center;
    padding: .5rem;
}
.ham-bar{
    display: none;
}
.nav-icons a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-right: 1.5rem;
}
.nav-home{
    border: 2px solid red;
    padding: .5rem 1.5rem;
    border-radius: 2.5rem;
    background-color:rgb(230, 83, 60) ;
    font-weight: 600;
}
.header-contenar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.header-content h1{
    font-size: 4.8rem;
    font-weight: 900;
    margin-bottom: 2rem;
}
.header-content p{
   color: rgba(255, 255, 255, 0.5);
   margin-bottom: 2rem;
}
.btn-1{
    color: white;
   font-size: 1.2rem; 
   font-weight: 600;
   background-color: rgb(230, 83, 60);
   padding: 1rem 2.5rem;
   border-radius: 2.5rem;
   border: none;
   margin-right: 1rem;
}
.btn-2{
    color: white;
   font-size: 1.2rem; 
   font-weight: 600;
   border: 1px solid white;
   padding: 1rem 2.5rem;
   border-radius: 2.5rem;
   background-color: rgb(0, 0, 0); 
}
.header-img img{
    position: relative;
}
.tag-1{
    position: absolute;
    border: 1px solid rgba(255, 255, 255, 0.1);
   height: 6rem;
   width: 12rem;
   background-color:  rgba(48, 48, 48, 0.54);
   border-radius: 1rem;
    display: flex;
  flex-direction: column;
  justify-content: center;                 
  padding-left: 1rem;
   margin-top: -29rem;
   margin-left: 14rem;
}
.tag-2{
    position: absolute;
    border: 1px solid rgba(255, 255, 255, 0.1);
   height: 6rem;
   width: 12rem;
   background-color:  rgba(48, 48, 48, 0.54);
   border-radius: 1rem;
  display: flex;
  padding-left: 1rem;
   margin-top: -11rem;
   margin-left: -6rem;
   align-items: center;
   gap: 20px ;

}
.tag-1 h1{
    font-size: 2.5rem;
    font-weight: 900; 
}
.tag-2 h2{
    font-size: 1.5rem;
    font-weight: 900; 
}
.play-btn{
    border: 1 px solid green;
    background-color: brown;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tag-2 i{
    font-size: 30px;
    color: rgb(255, 255, 255);
    
}
/* body desing start */
.change-your-habits{
    
}
.change-your-habits-hadeing{
    max-width: 42rem;
    margin: 3.5rem auto;
}

.change-your-habits h1{
    font-size: 3rem;
    width: 900;
    text-align: center;
    margin-bottom: 2rem;
}
.change-your-habits p{
    color: rgba(255, 255, 255, 0.5);
    text-align: center; 
}
.img-contenar{
    display: flex;
    
}
.pic-1 img, .pic-2 img, .pic-3 img, .pic-4 img{
    border-radius: 50%;
}
.pic-1, .pic-2, .pic-3, .pic-4{
    text-align: center;
}
.run-an-extra{
    display: flex;
    border-radius: 18px;
    background: rgb(34, 34, 34);
}
.run-an-extra-content{
    margin: 40px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.run-an-extra-content h1{
    font-weight: 900;
    font-size: 3rem;
}
.run-an-extra-content p{
    color: rgba(255, 255, 255, 0.5);
}
.run-an-extra-content button{
    color: white;
    font-size: 1.2rem; 
    font-weight: 600;
    background-color: rgb(230, 83, 60);
    padding: 1rem 2.5rem;
    border-radius: 2.5rem;
    border: none;
    margin-right: 1rem;
    width: 225px;

}
.img-run{
    margin: 30px;
    border-radius: 18px;
    width: 366px;
    height: 312px;
}
.bmi-hidding{
    max-width: 671px;
    margin: 0 auto;
}
.bmi-hidding h1{
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 1rem;
}
.bmi-hidding p{
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 5.5rem;
}
.bmi-calculator-cart{
    display: flex;
}
.bmi-calculator-cart-ls{
    width: 50%;
}
.bmi-calculator-cart-rs{
    width: 50%;
    
}
.bmi-calculator{
    background: rgb(34, 34, 34);
    padding-top: 3rem;
}
.bmi-btn{
    width: 14rem;
    margin-bottom: 3rem;
}
table{
    border-collapse: collapse;
    margin-top: 2rem;
}
td, th{
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 1rem;
    text-align: left;
}
td{
    color: rgba(255, 255, 255, 0.5);
}

.bmi-calculator-cart-rs p{
    color: rgba(255, 255, 255, 0.5);
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.Calculate{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
}
.select-2, .select-1{
    color: rgba(255, 255, 255, 0.3);
}
.select-2{
    margin-top: 1rem;
    width: 100%;
    margin-bottom: 2rem;
}
.bmi-calculator-cart-rs input, select{
    height: 3rem;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    padding-left: 1rem;
}
.Meet-Our-Team-hiding{
    max-width:670px ;
    text-align: center;
    margin: 1.5rem auto;
}
.Meet-Our-Team-hiding h1{
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 1rem;
}
.Meet-Our-Team-hiding p{
    color: rgba(255, 255, 255, 0.5);
}
.img-parent{
    max-width: 1060px;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    
}
.img-chaild{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}
.trainer-1{
    width: 326.67px;
    height: 272px;
    background-image: url(../images/trainer1.png);
    background-size: cover;
    border-radius: 18px;
    background-color: rgba(0, 0, 0, 0.2);
    background-blend-mode: overlay;
    
}
.trainer-2{
    width: 326.67px;
    height: 272px;
    background-image: url(../images/trainer2.png);
    background-size: cover;
    border-radius: 18px;
    background-color: rgba(0, 0, 0, 0.2);
    background-blend-mode: overlay;
    
}
.trainer-3{
    width: 326.67px;
    height: 272px;
    background-image: url(../images/trainer3.png);
    background-size: cover;
    border-radius: 18px;
    background-color: rgba(0, 0, 0, 0.2);
    background-blend-mode: overlay;
    
}
.trainer-4{
    width: 326.67px;
    height: 272px;
    background-image: url(../images/trainer4.png);
    background-size: cover;
    border-radius: 18px;
    background-color: rgba(0, 0, 0, 0.2);
    background-blend-mode: overlay;
    background-position: center;
    
}
.trainer-5{
    width: 326.67px;
    height: 272px;
    background-image: url(../images/trainer5.png);
    background-size: cover;
    border-radius: 18px;
    background-color: rgba(0, 0, 0, 0.2);
    background-blend-mode: overlay;
    
}
.trainer-6{
    width: 326.67px;
    height: 272px;
    background-image: url(../images/trainer6.png);
    background-size: cover;
    border-radius: 18px;
    background-color: rgba(0, 0, 0, 0.2);
    background-blend-mode: overlay;
    
}
.t-name{
    position: absolute;
    margin-top: 200px;
    margin-left: 20px;
}
.trainer{
    position: absolute;
    margin-top: 230px;
    margin-left: 20px;
    color: rgba(255, 255, 255, 0.5);
}
.footer-company-name{
    font-size: 70px;
    font-weight: 800;
    margin-bottom: 1.5rem;
}
.footer-contenar{
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
    gap: 10rem;
}
.footer-content{
    width: 50%;
}
.footer-content p{
    color: rgba(255, 255, 255, 0.5);
}
.content-get-started{
    width: 50%;
    display: flex;
    justify-content: space-between;
    
}
.get-started{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.get-started a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
}
hr{
    margin-top: 5rem;
    border: 2px solid rgba(255, 255, 255, 0.1);
}
.copy-right{
    text-align: center;
    margin: 2rem;
    color: rgba(255, 255, 255, 0.5);
}
